In [ ]:
# In datatype we use the type() function to check the type of datatypes

x='rakesh'
type(x)

str

In [2]:
x=12.54
type(x)

float

In [3]:
x=12+3j
print(type(x))

<class 'complex'>

In [ ]:
#here it gives the ratio of the below x variable
x=10
x.as_integer_ratio()

(10, 1)

In [ ]:
# here this function is used to count the digit of the x
x=10
x.bit_count()

2

In [ ]:
# here the string value is converted to upper case
x="data engineering"
x.upper()

'DATA ENGINEERING'

In [22]:
#here the string value is converted to lower case
X="AI ENGINEEERING"
print(X.lower())

ai engineeering

In [ ]:
# here  it convert the first letter of the words in upper case
X="suresh is a friend of ramesh"
y="ramesh is friend of suresh"
print(X.capitalize()+ ' ' + y.capitalize())
##print(y.capitalize())

Suresh is a friend of ramesh Ramesh is friend of suresh

In [ ]:
#here the first letter of each words will be in upper case

x="rakesh is a cricketer"
x.title()

'Rakesh Is A Cricketer'

In [45]:
# here this function convert the character into upper to lower and lower to upper case
x="suresh is a friend of RAMESH"
x.swapcase()

'SURESH IS A FRIEND OF ramesh'

In [ ]:
## below are the function is used only for true or false purpose and here

In [ ]:

### is in alphabet then it is true,in case if there is numbers or special character or spaces then it will be false
x="data"
x.isalpha()

True

In [48]:
x="Rakesh is a eng"
x.isalpha()

False

In [49]:
x="rahul$$$"
x.isalpha()

False

In [ ]:
# here in isalnum function there should be alpha and numeric and there should not be any special character and space
x='raj12'
x.isalnum()

True

In [51]:
x='raj12   '
x.isalnum()

False

In [52]:
x='raj12&&'
x.isalnum()

False

In [ ]:
x='12'
x='raj12'

True

In [54]:
x='raj'
x.isalnum()

True

In [ ]:
# here the endswith function is used to check wheather the string value is true or false at end point

x="rahul is a cricketer"
x.endswith("ra")

False

In [ ]:
# here it check the strting point 

x="dhoni"
x.startswith("dh")

True

In [70]:
x="dhoni"
x.startswith("i")

False

In [71]:
x='1234'
x.isdigit()

True

In [72]:
x="data"
x.isdigit()

False

In [ ]:
## Split function- 1. by default it divide based on space b/w the words
## we can add the character in b/w the two strings character

x="data engineering"
x.split()

['data', 'engineering']

In [77]:
x="data-engineering"
x.split("-")

['data', 'engineering']

In [87]:
x="91-9564564783"
x.split("45")

['91-956', '64783']

In [ ]:
# here we specified the character and it remove that from left and it add the space for those characters
x="rakeshaaa"
x.split("a")

['r', 'kesh', '', '', '']