In [47]:
# Question 1: Create a list of first 10 square numbers


for i in range(1,11):
    y=(i*i)
    x.append(y)
    print("the first 10 square numbers are:", y)

the first 10 square numbers are: 1
the first 10 square numbers are: 4
the first 10 square numbers are: 9
the first 10 square numbers are: 16
the first 10 square numbers are: 25
the first 10 square numbers are: 36
the first 10 square numbers are: 49
the first 10 square numbers are: 64
the first 10 square numbers are: 81
the first 10 square numbers are: 100

In [49]:
# Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
x=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_number=0
for y in x:
    if y%2==0:
        even_number+=y
        print(even_number)

2
6
12
20
30

In [34]:
# Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
unique_numbers = []
for num in numbers:
    if num not in unique_numbers:
        unique_numbers.append(num)
print(unique_numbers)

[1, 2, 3, 4, 5, 6, 7]

In [19]:
# Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order
list=[64, 34, 25, 12, 22, 11, 90]
list.sort(reverse=True)
print(list)

[90, 64, 34, 25, 22, 12, 11]

In [20]:
# Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]
list=[15, 23, 31, 42, 56, 78, 91]
list1=(sum(list) / len(list))
print(list1)

48.0

In [39]:
# Question 6: Create a list of first 15 Fibonacci numbers

f_list=[0,1]
for i in range(8):
    f_list.append(f_list[-1]+f_list[-2])
print(f_list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [51]:
# Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]
a=[45, 67, 23, 89, 12, 34, 78]
b=sorted((set(a)),reverse=True)
c=b[1]
print(" The second largest number in list is:", c)

 The second largest number in list is: 78

In [29]:
# Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list.reverse()
print(list)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [52]:
# Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]

numbers = [1, 5, 2, 5, 3, 5, 4, 5, 6]
count_5 = numbers.count(5)
print("Number 5 appears", count_5, "times")

Number 5 appears 4 times

In [54]:
# Question 10: Create a list of prime numbers between 1 and 50
prime_numbers = []
for num in range(2, 51):  # Start from 2, since 1 is not prime
    is_prime = True
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        prime_numbers.append(num)

print("Prime numbers between 1 and 50:", prime_numbers)

Prime numbers between 1 and 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [55]:
# Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
nested = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened = sum(nested, [])
print(flattened)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [58]:
# Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]
list1=[1,2,3,4,5]
list2=[4,5,6,7,8]
com_ele=(set(list1) & set(list2))
print("Common element:", com_ele)

Common element: {4, 5}

In [59]:
# Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]

list=[[1, 2], [3, 4], [5, 6]]

print(list)

[[1, 2], [3, 4], [5, 6]]

In [1]:
# Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

data = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
sums = [sum(sublist) for sublist in data]
print(sums)

[6, 15, 24]

In [71]:
# Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
transposed = [[matrix[j][i] for j in range(len(matrix))] for i in range(len(matrix[0]))]
print(transposed)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [73]:
# Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]

data = [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
max_values = [max(sublist) for sublist in data]
print("Maximum values in each sublist:", max_values)

Maximum values in each sublist: [5, 9, 8]

In [72]:
# Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
three_d_list=[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
print(three_d_list)

[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [2]:
# Question 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
data = [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
total_sum = sum(num for sub1 in data for sub2 in sub1 for num in sub2)

print(total_sum)

36

In [74]:
# Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

even_numbers = [num for sublist in nested_list for num in sublist if num % 2 == 0]

print("Even numbers:", even_numbers)

Even numbers: [2, 4, 6, 8]

In [78]:
# Question 20: Create a list of mixed data types: [1, "hello", 3.14, True, [1, 2, 3]]
list=[1, "hello", 3.14, True, [1, 2, 3]]
datatype=[type(list[0]),type(list[1]),type(list[2]),type(list[3]),type(list[4])]
print(datatype)

[<class 'int'>, <class 'str'>, <class 'float'>, <class 'bool'>, <class 'list'>]

In [82]:
# Question 21: Find the length of each string in ["apple", "banana", "cherry", "date"]
str=["apple", "banana", "cherry", "date"]
list=[len(str[0]),len(str[1]),len(str[2]),len(str[3])]
print(list)

[5, 6, 6, 4]

In [83]:
# Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]

list_of_tuples=[(1, 'a'), (2, 'b'), (3, 'c')]
print(list_of_tuples)

[(1, 'a'), (2, 'b'), (3, 'c')]

In [84]:
# Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]

data = [(1, 'a'), (2, 'b'), (3, 'c')]
first_elements = [t[0] for t in data]
print(first_elements)

[1, 2, 3]

In [90]:
# Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

people=[
    {'name':'Alice', 'age': 25},
    {'name' : 'Bob', 'age' : 30}

]
print(people)

[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

In [93]:
# Question 25: Extract all 'name' values from list of dictionaries
people=[
    {'name':'Alice', 'age': 25},
    {'name' : 'Bob', 'age' : 30}

]
d=[person['name'] for person in people]
print(d)

['Alice', 'Bob']

In [96]:
# Question 26: Find the person with maximum age in list of dictionaries
oldest=[
    {'name':'Alice', 'age': 25},
    {'name' : 'Bob', 'age' : 30}
]
oldest = max(people, key=lambda person: person['age'])
print("Person with maximum age:", oldest)

Person with maximum age: {'name': 'Bob', 'age': 30}

In [3]:
# Question 27: Create a 4D list: [[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]
data = [
    [
        [[1, 2], [3, 4]],
        [[5, 6], [7, 8]]
    ],
    [
        [[9, 10], [11, 12]],
        [[13, 14], [15, 16]]
    ]
]

print(data)

[[[[1, 2], [3, 4]], [[5, 6], [7, 8]]], [[[9, 10], [11, 12]], [[13, 14], [15, 16]]]]

In [4]:
# Question 28: Find the maximum value in 4D list
data = [
    [
        [[1, 2], [3, 4]],
        [[5, 6], [7, 8]]
    ],
    [
        [[9, 10], [11, 12]],
        [[13, 14], [15, 16]]
    ]
]
max_val = max(num for block1 in data for block2 in block1 for row in block2 for num in row)

print(max_val)

16

In [98]:
# Question 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
list_of_sets=[{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
print(list_of_sets)

[{1, 2, 3}, {4, 5, 6}, {8, 9, 7}]

In [5]:
# Question 30: Find the union of all sets in list of sets
data = [{1, 2}, {2, 3, 4}, {4, 5}]
union_set = set().union(*data)

print(union_set)

{1, 2, 3, 4, 5}

In [95]:
# Question 31: Create a list of complex numbers: [1+2j, 3+4j, 5+6j]
list=[1+2j, 3+4j, 5+6j]
print(list)

[(1+2j), (3+4j), (5+6j)]

In [6]:
# Question 32: Find the magnitude of each complex number in list
numbers = [3 + 4j, 1 - 1j, -2 + 2j]
magnitudes = [abs(num) for num in numbers]

print(magnitudes)

[5.0, 1.4142135623730951, 2.8284271247461903]

In [7]:
# Question 33: Create a nested list with different levels: [1, [2, 3], [4, [5, 6]], 7]
nested_list = [1, [2, 3], [4, [5, 6]], 7]

print(nested_list)

[1, [2, 3], [4, [5, 6]], 7]

In [8]:
# Question 34: Count the depth of nesting in [1, [2, 3], [4, [5, 6]], 7]
nested_list = [1, [2, 3], [4, [5, 6]], 7]
def nesting_depth(lst):
    if not isinstance(lst, list) or not lst:
        return 0
    return 1 + max(nesting_depth(item) for item in lst)


depth = nesting_depth(nested_list)
print(depth)

3

In [9]:
# Question 35: Create a list of functions: [len, str, int, float]

func_list = [len, str, int, float]

print(func_list)

[<built-in function len>, <class 'str'>, <class 'int'>, <class 'float'>]

In [10]:
# Question 36: Apply each function in list to string "123"
func_list = [len, str, int, float]

value = "123"
results = [func(value) for func in func_list]

print(results)

[3, '123', 123, 123.0]

In [11]:
# Question 37: Create a list of lambda functions: [lambda x: x*2, lambda x: x**2, lambda x: x+1]
lambda_list = [
    lambda x: x * 2,
    lambda x: x ** 2,
    lambda x: x + 1
]
for func in lambda_list:
    print(func(5))

10
25
6

In [12]:
# Question 38: Apply each lambda function to 5
lambda_list = [
    lambda x: x * 2,
    lambda x: x ** 2,
    lambda x: x + 1
]
value=5
results=[func(value) for func in lambda_list]
print(results)

[10, 25, 6]

In [13]:
# Question 39: Create a list of classes: [list, dict, set, tuple]
class_list = [list, dict, set, tuple]

print(class_list)

[<class 'list'>, <class 'dict'>, <class 'set'>, <class 'tuple'>]

In [14]:
# Question 40: Create instances of each class in list
class_list = [list, dict, set, tuple]
sample_data = [
    [1, 2, 3],                      
    [('name', 'Alice'), ('age', 25)], 
    [1, 2, 2, 3],                    
    (4, 5, 6)                        
]
instances = [cls(data) for cls, data in zip(class_list, sample_data)]

print(instances)

[[1, 2, 3], {'name': 'Alice', 'age': 25}, {1, 2, 3}, (4, 5, 6)]

In [15]:
# Question 41: Create a list of None values: [None, None, None, None]
none_list = [None, None, None, None]

print(none_list)

[None, None, None, None]

In [16]:
# Question 42: Replace all None values with 0 in list
none_list = [None, None, None, None]
replaced_list = [0 if x is None else x for x in none_list]

print(replaced_list)

[0, 0, 0, 0]

In [17]:
# Question 43: Create a list of boolean values: [True, False, True, False]
bool_list = [True, False, True, False]

print(bool_list)

[True, False, True, False]

In [18]:
# Question 44: Count True values in boolean list

bool_list = [True, False, True, False]


true_count = sum(bool_list)

print(true_count)

2

In [19]:
# Question 45: Create a list of ranges: [range(3), range(5), range(2)]
range_list = [range(3), range(5), range(2)]

print(range_list)  

for r in range_list:
    print(list(r))

[range(0, 3), range(0, 5), range(0, 2)]
[0, 1, 2]
[0, 1, 2, 3, 4]
[0, 1]

In [20]:
# Question 46: Convert each range to list
range_list = [range(3), range(5), range(2)]


list_of_lists = [list(r) for r in range_list]

print(list_of_lists)

[[0, 1, 2], [0, 1, 2, 3, 4], [0, 1]]

In [21]:
# Question 47: Create a list of generators: [(x for x in range(3)), (x for x in range(5))]
gen_list = [
    (x for x in range(3)),
    (x for x in range(5))
]

print(gen_list)  # Displays generator objects

# To consume the generators and see their values
for gen in gen_list:
    print(list(gen))

[<generator object <genexpr> at 0x000001EEE9FCA680>, <generator object <genexpr> at 0x000001EEE9FCB4C0>]
[0, 1, 2]
[0, 1, 2, 3, 4]

In [22]:
# Question 48: Convert each generator to list

gen_list = [
    (x for x in range(3)),
    (x for x in range(5))
]

# Convert each generator to a list
list_of_lists = [list(gen) for gen in gen_list]

print(list_of_lists)

[[0, 1, 2], [0, 1, 2, 3, 4]]

In [23]:
# Question 49: Create a list of iterators: [iter([1, 2, 3]), iter([4, 5, 6])]
iter_list = [
    iter([1, 2, 3]),
    iter([4, 5, 6])
]

print(iter_list)  # Shows iterator objects

# To consume the iterators and see their values
for it in iter_list:
    print(list(it))

[<list_iterator object at 0x000001EEEA1E2350>, <list_iterator object at 0x000001EEEA1E1900>]
[1, 2, 3]
[4, 5, 6]

In [24]:
# Question 50: Extract all elements from each iterator

iter_list = [
    iter([1, 2, 3]),
    iter([4, 5, 6])
]

# Extract all elements from each iterator
extracted = [list(it) for it in iter_list]

print(extracted)

[[1, 2, 3], [4, 5, 6]]