In [2]:
# Question 1: Create a tuple of first 10 natural numbers

#1, 2, 3, 4, 5, 6, 7, 8, 9, and 10

natural_number = tuple (range(1,11))
print("The first 10 natural numbers are", natural_number)

The first 10 natural numbers are (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [8]:
# Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
length = len(tuple)
print(" The length of tuple are:", length)

 The length of tuple are: 10

In [27]:
# Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')
letters=('a', 'b', 'c', 'd', 'e')
third_element = letters[2]
print(" the 3rd element from tuple is:",third_element)

 the 3rd element from tuple is: c

In [28]:
# Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)
numbers = (23, 45, 12, 67, 34, 89, 56)

# Find the maximum value
max_value = max(numbers)

print("Maximum value in the tuple:", max_value)

Maximum value in the tuple: 89

In [29]:
# Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)
n=(1, 5, 2, 5, 3, 5, 4, 5, 6)
n.count(5)

4

In [35]:
# Question 6: Create a tuple of mixed data types (integer, float, string, boolean)

tuple=(24,2.5,'rakesh',True)
print("mixed data types:", tuple)

mixed data types: (24, 2.5, 'rakesh', True)

In [36]:
# Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')

z=('java', 'python', 'c++', 'javascript')
print(z.index('python'))

1

In [40]:
# Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)
x=(10, 20, 30, 40, 50)
if 25 in x:
        print(" the 25 is exist in tuple.")
else:
        print(" the 25 is not exist in tuple.")

 the 25 is not exist in tuple.

In [41]:
 #Question 9: Create a tuple of first 5 even numbers
 even_numbers=(0,2,4,6,8)
 print(" the even numbers in tuple:", even_numbers)

 the even numbers in tuple: (0, 2, 4, 6, 8)

In [43]:
# Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)
x=(15, 23, 31, 42, 56, 78)
avg= sum(x)/len(x)
print(" the average of x is:", avg)

 the average of x is: 40.833333333333336